body h1{
  font-family: 'Sen', sans-serif;
  text-transform: uppercase;
}
body h2, h3, h4, h5, h6, p{
  font-family: 'Sen', sans-serif;
}

.main {
  width: 1140px;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr)
}